label {
    margin: 15px;
}

input[type=text] {
    box-sizing: border-box;
    width: 250px;
    height: 30px;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    margin: 15px;
  }
